.onboardingForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.formTitle{
    display: grid;
    gap: .5rem;
}
.formTitle > h2{
    font-size: 2rem;
}

.formTitle > p{
    font-size: .976rem;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.inputContainer > label{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.inputContainer > label > input{
    border: .0625rem solid #aaa;
    border-radius: .25rem;
    padding: .825rem .75rem;
}

.selectTheme{
    width: 100%;
    padding: .825rem .75rem;
    border-radius: .25rem;
}

.submitButton{
    composes: button from '@/components/button.module.css';
    padding: .715rem;
}